.checkbox-list{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}


.checkbox-items{
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    gap: 10px;
    justify-content: center;
}

.checkbox-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    box-sizing: border-box;
    width: 100%; /* 幅を100%に設定 */
    max-width: 100px; /* 最大幅を設定 */
    white-space: nowrap; /* テキストを折り返さない */
}