.checkbox-list {
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}

h2, p{
    text-align: left;
}

.checkbox-items {
    display: grid;
    grid-template-columns: repeat(17, 1fr); /* 各列の幅を自動調整 */
    gap: 10px;
    justify-content: center;
}

.checkbox-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    box-sizing: border-box;
    width: 100%; /* 幅を自動調整 */
    max-width: 100px; /* 最大幅を解除 */
    white-space: nowrap; /* テキストを折り返さない */
}

@media (max-width: 768px){
    .checkbox-items{
        grid-template-columns: repeat(4, 1fr);
    }
}