.population-graph {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center; /* 中央揃え */
}

.custom-tooltip {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.custom-tooltip .label {
    font-weight: bold;
}

.custom-tooltip .intro {
    margin-top: 5px;
}